@charset "utf-8";
$vivopocbackoffice-container-background: var(--bo-base-background);
$vivopocbackoffice-container-font-family: var(--bo-font-family);
$vivopocbackoffice-container-font-size: $font-size__base;
$vivopocbackoffice-label-text-color: var(--bo-text-color);
