@charset "utf-8";
@import "./support/vivopocbackofficewidget-variables.scss";

.yw-labelstyle
{
	color: $vivopocbackoffice-label-text-color;
}

.vivopocbackoffice-container {
	background: $vivopocbackoffice-container-background;
	font-family: $vivopocbackoffice-container-font-family;
	font-size: $vivopocbackoffice-container-font-size;
}
