@charset "utf-8";
$pocbackoffice-container-background: var(--bo-base-background);
$pocbackoffice-container-font-family: var(--bo-font-family);
$pocbackoffice-container-font-size: $font-size__base;
$pocbackoffice-label-text-color: var(--bo-text-color);
